.header {
  padding: 20px;
}

.image img {
  border-radius: 500px;
  /* box-shadow: 0 10px 15px 0; */
  filter: drop-shadow(15px 15px 10px yellow);
}



.img_icon img {
  width: 55px;
  height: 55px;
  padding: 10px;
}

h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}